<div class="w3-row w3-top w3-green" style="padding: 6px 0px;">
  <div class="w3-bar w3-content w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-none w3-large w3-green" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu">
      <div class="w3-white" style=" border-radius: 10px; height: 30px; width: 30px;">
            <svg style="margin-top: 4px; margin-left:0px;" width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Menu / Menu_Alt_05">
                <path id="Vector" d="M5 17H13M5 12H19M11 7H19" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
          </div>
    </a>
    <a href="{{ site.url }}" class="w3-bar-item w3-button w3-padding-large w3-green w3-hover-none w3-text-dark-gray" style="padding-left: 16px !important;"><strong>Whatsappgrouplink.in</strong></a>
    <a href="{{ site.url }}submit.html" class="w3-bar-item w3-button w3-hide-small w3-hover-none w3-right w3-text-dark-gray" style="font-size: 15px; padding-top: 16px;">Submit Group</a>
    <a href="{{ site.url }}privacy-policy.html" class="w3-bar-item w3-button w3-hide-small w3-hover-none w3-right w3-text-dark-gray" style="font-size: 15px; padding-top: 16px;">Privacy Policy</a>
    <a href="{{ site.url }}contact-us.html" class="w3-bar-item w3-button w3-hide-small w3-hover-none w3-right w3-text-dark-gray" style="font-size: 15px; padding-top: 16px;">Contact Us</a>
    <a href="{{ site.url }}about.html" class="w3-bar-item w3-button w3-hide-small w3-hover-none w3-right w3-text-dark-gray" style="font-size: 15px; padding-top: 16px;">About</a>
    <a href="{{ site.url }}all-groups.html" class="w3-bar-item w3-button w3-hide-small w3-hover-none w3-right w3-text-dark-gray" style="font-size: 15px; padding-top: 16px;">All groups</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{{ site.url }}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{{ site.url }}all-groups.html" class="w3-bar-item w3-button w3-padding-large">All Groups</a>
    <a href="{{ site.url }}about.html" class="w3-bar-item w3-button w3-padding-large">About Us</a>
    <a href="{{ site.url }}contact-us.html" class="w3-bar-item w3-button w3-padding-large">Contact Us</a>
        <a href="{{ site.url }}privacy-policy.html" class="w3-bar-item w3-button w3-padding-large">Privacy Policy</a>
            <a href="{{ site.url }}disclaimer.html" class="w3-bar-item w3-button w3-padding-large">Disclaimer</a>
                <a href="{{ site.url }}submit.html" class="w3-bar-item w3-button w3-padding-large">Submit Your Group</a>
  </div>
</div>
